{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{{block styles }}
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
{{ endblock }}

{{ block title }}Instructions{{ endblock }}

{{ block content }}

 <div class="card">
In what follows we will ask you to assess how the video made you feel on three scales.
     Remember that your answers are anonymous and that it is important that you answer truthfully in each case.
  <div class="card-body">
 <br>




</div>
     </div>

{{ formfields }}

    {{ next_button }}

{{ endblock }}
