{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{{block styles }}
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
{{ endblock }}

{{ block title }}Scale 2{{ endblock }}

{{ block content }}

 <div class="card">
     How pleasant do you feel with respect to the video?
  <div class="card-body">
          <div class=“parent”><img class = "width:500%; center" style="max-width:500px" src="{% static 'SAM_arousal2.png' %}"/>
              <div class=“child”><div style="position:absolute;left:250px;right: 0px;bottom: 50px"> {{ formfields }}</div></div>
</div><br>



      <p>The first picture shows a person who is feeling relaxed , the last one shows a person who is feeling excited.
   </p>

</div>
     </div>



    {{ next_button }}

{{ endblock }}
