{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{{block styles }}
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
{{ endblock }}

{{ block title }}Scale 1{{ endblock }}

{{ block content }}

 <div class="card">
     How pleasant do you feel with respect to the video?
  <div class="card-body">
          <img class = "width:500%; center" style="max-width:500px" src="{% static 'SAM_valence.png' %}"/>
 <br>



      <p>The first picture shows a person who is feeling unpleasant, the last one shows a person who is feeling pleasant.
   </p>

</div>
     </div>

{{ formfields }}

    {{ next_button }}

{{ endblock }}
