{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load otree%}
{{block styles }}
<style>
.center {
  text-align: center;
}
</style>
{{ endblock }}

{% block title %}
   Video Description
{% endblock %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="card">
  <div class="card-body">
     <p> Before showing you the video, we would like to briefly describe what you will see.</p>
     <p> Please read carefully the short video description below. </p>


       <div class="alert alert-warning" role="alert">
          <p>  "The video is an advertisement by "Save the Children" depicting South African children at risk of early death because of lack of healthcare services. The video shows children watching videos of people who grew up to fulfill their dreams making the point that children everywhere should have the chance to live and to dream.”</p>
</div>


<br>


Please, press "Next" when you finish reading the description.

      </div></div>
<br>
<div class="center"> {{ next_button }}</div>

{% endblock %}


