{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}

{% endblock %}


{{block styles }}
<link href="{% static 'heatmap.css' %}" rel="stylesheet">

{{ endblock }}



{% block content %}



  <div class="card">

        <div class="card-body">
 Please answer all of the following questions:
<br>
<br>
<div type="hidden" class="slidecontainer">
  <input type="hidden" id="myRange" type="range" min="1" max="100" value="50" >
</div>

<label class="heat-slider heat-slider--v">
	<span class="heat-slider--label"> {{form.emotions_ant.label}}</span>
	<span class="heat-slider--input">
		<input id = "d" type="range" value="22" min="0" max="100" oninput="doThings(event)" />
	</span>
</label>
            <output id="output">change the slider</output>
            <input   type="hidden" name="emotions_ant" id="emotions_ant">


<br>
            <br>
                 {{form.openq.label}}
               <div id="openq" >{{form.openq}}</div>
<br>
            <br>
<div type="hidden" class="slidecontainer">
  <input type="hidden" id="myRange1" type="range" min="1" max="100" value="50" >
</div>

<label class="heat-slider heat-slider--v">
	<span class="heat-slider--label"> {{form.pressureStC_ant.label}}</span>
	<span class="heat-slider--input">
		<input id = "d" type="range" value="22" min="0" max="100" oninput="doThings1(event)" />
	</span>
</label>
            <output id="output1">change the slider</output>
            <input   type="hidden" name="pressureStC_ant" id="pressureStC_ant">


<br><br>

 <div type="hidden" class="slidecontainer">
  <input type="hidden" id="myRange2" type="range" min="1" max="100" value="50" >
</div>

<label class="heat-slider heat-slider--v">
	<span class="heat-slider--label"> {{form.pressureGrass_ant.label}}</span>
	<span class="heat-slider--input">
		<input id = "d" type="range" value="22" min="0" max="100" oninput="doThings2(event)" />
	</span>
</label>
            <output id="output2">change the slider</output>
            <input   type="hidden" name="pressureGrass_ant" id="pressureGrass_ant">

<br><br>

 <div type="hidden" class="slidecontainer">
  <input type="hidden" id="myRange3" type="range" min="1" max="100" value="50" >
</div>

<label class="heat-slider heat-slider--v">
	<span class="heat-slider--label"> {{form.pressureJust_ant.label}}</span>
	<span class="heat-slider--input">
		<input id = "d" type="range" value="22" min="0" max="100" oninput="doThings3(event)" />
	</span>
</label>
            <output id="output3">change the slider</output>
            <input   type="hidden" name="pressureJust_ant" id="pressureJust_ant">



          </div>
    </div>
            <br>
            <br>
<div class="center" onclick="submitForm()"> {{ next_button }}</div>




<script>
    var slider = document.getElementById("myRange");
    var slider2 = document.getElementById("myRange1");
    var slider3 = document.getElementById("myRange2");
    var slider4 = document.getElementById("myRange3");

    slider.oninput = function() {
  document.getElementById("emotions_ant").value = this.value;
}
    slider2.oninput = function() {
  document.getElementById("pressureStC_ant").value = this.value;
}
    slider3.oninput = function() {
  document.getElementById("pressureGrass_ant").value = this.value;
    }
    slider4.oninput = function() {
  document.getElementById("pressureJust_ant").value = this.value;
    }
    const output = document.getElementById("output");
    const output1 = document.getElementById("output1");
    const output2 = document.getElementById("output2");
    const output3 = document.getElementById("output3");

    const doThings = (event) => {
	const { value, min, max, step, parentElement: parent } = event.target
	const decimals = step && step.includes('.') ? step.split('.')[1] : 1
	const percent = `${((value - min)/(max - min) * 100).toFixed(decimals)}%`
	parent.style.setProperty('--p', percent)
	output.value = `Extent: ${percent}`
    document.getElementById("emotions_ant").value = `${value}`;
}

    const doThings1 = (event) => {
	const { value, min, max, step, parentElement: parent } = event.target
	const decimals = step && step.includes('.') ? step.split('.')[1] : 1
	const percent = `${((value - min)/(max - min) * 100).toFixed(decimals)}%`
	parent.style.setProperty('--p', percent)
    output1.value = `Extent: ${percent}`
    document.getElementById("pressureStC_ant").value = `${value}`;

}

    const doThings2 = (event) => {
	const { value, min, max, step, parentElement: parent } = event.target
	const decimals = step && step.includes('.') ? step.split('.')[1] : 1
	const percent = `${((value - min)/(max - min) * 100).toFixed(decimals)}%`
	parent.style.setProperty('--p', percent)
    output2.value = `Extent: ${percent}`
    document.getElementById("pressureGrass_ant").value = `${value}`;

}
   const doThings3 = (event) => {
	const { value, min, max, step, parentElement: parent } = event.target
	const decimals = step && step.includes('.') ? step.split('.')[1] : 1
	const percent = `${((value - min)/(max - min) * 100).toFixed(decimals)}%`
	parent.style.setProperty('--p', percent)
    output2.value = `Extent: ${percent}`
    document.getElementById("pressureJust_ant").value = `${value}`;

}

    function submitForm(){
                if (document.getElementById("emotions_ant").value =="") {
                    window.alert("Please answer question 1.");
                                            event.preventDefault();}
                if (document.getElementById("pressureStC_ant").value =="") {
                    window.alert("Please answer question 3.");
                    event.preventDefault();
                }
                if (document.getElementById("pressureGrass_ant").value =="") {
                    window.alert("Please answer question 4.");
                   event.preventDefault();

                }
                if (document.getElementById("pressureJust_ant").value =="") {
                    window.alert("Please answer question 5.");
                   event.preventDefault();

                }
                if (document.getElementById("openq").value =="") {
                    window.alert("Please answer question 2.");
                    event.preventDefault();
                }
                else  {
                document.getElementById("form").submit();
                }
        }

</script>



{{endblock}}