{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load otree static %}

{% block styles %}

{% endblock %}

{{ block title }}
<div class="alert alert-warning text-center lead">
    <h4> You will see the video in the next page. If the video does not start immediately, please click ANYWHERE on your screen to start it.</h4>
   	<br>
    <br>
    <br>
     <br>

   Click next to proceed.
     <br>

     <br>

</div>



{{ endblock }}


{{ block content }}
<div style="text-align:center" >{% next_button %}</div>

{{ endblock }}





