#start_button_overlay {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 99vw;
    height: 99vh;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    visibility: hidden;
    z-index: 10;
}

#start_button_img {
    padding: 5vh;
    margin-top: 30vh;
    max-height: 30vh;
    max-width: 30vw;
    cursor: pointer;
}