{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{%block title%}
Part 3: Choice survey
{% endblock %}




{% block content %}

                Using the space below, could you explain to us:
<br>
      <br>
  <div class="card" style="height:  150%; position: relative; top:00px">

        <div class="card-body">

{{if player.task1 == "A" and player.prefvideo == "Treatment"}}
            <br>
            Why did you choose to 'Watch charity video'?
            <br>
            <br>
            <div id="explanationqvideo" >{{form.explanationqvideo}}</div>
            <br>
            <br>
            Why did you choose Option A (me:£5, charity:£0)?
            <br>
            <br>
            <div id="explanationqchoice" >{{form.explanationqchoice}}</div>
            <br>
            <br>

{{elif player.task1 == "A" and player.prefvideo == "Alternative"}}
            <br>
            Why did you choose to 'Watch alternative video'?
            <br>
            <br>
            <div id="explanationqvideo" >{{form.explanationqvideo}}</div>
            <br>
            <br>
            Why did you choose Option A (me:£5, charity:£0)?
            <br>
            <br>
            <div id="explanationqchoice" >{{form.explanationqchoice}}</div>
            <br>
            <br>

{{elif player.task1 == "B" and player.prefvideo == "Treatment"}}
            <br>
            Why did you choose to 'Watch charity video'?
            <br>
            <br>
            <div id="explanationqvideo" >{{form.explanationqvideo}}</div>
            <br>
            <br>
            Why did you choose Option B (me:£1, charity:£8)?
            <br>
            <br>
            <div id="explanationqchoice" >{{form.explanationqchoice}}</div>
            <br>
            <br>

{{elif player.task1 == "B" and player.prefvideo == "Alternative"}}
            <br>
            Why did you choose to 'Watch alternative video'?
            <br>
            <br>
            <div id="explanationqvideo" >{{form.explanationqvideo}}</div>
            <br>
            <br>
            Why did you choose Option B (me:£1, charity:£8)?
            <br>
            <br>
            <div id="explanationqchoice" >{{form.explanationqchoice}}</div>
            <br>
            <br>

{{endif}}
        </div>
  </div>
            <br>
            <br>
<div class="center" onclick="submitForm()"> {{ next_button }}</div>



{{endblock}}