{% extends "global/Page.html" %}
{% load otree %}

{{block styles }}
<style>
.center {
  text-align: center;
}
</style>
{{ endblock }}

{% block title %}
    Welcome
{% endblock %}

{% block content %}

<div class="card"><div class="card-body">
<p>Welcome! You are participating in a study funded by the University of Amsterdam.
    You receive <b>&pound1.6</b> as a payment for participation.</p>
 <br>
<p>The goal of this study is to assess how individuals make decisions. The study consists of  <b>four parts</b>. In <b>Part 1</b> you will be able to earn some money which you can use in subsequent parts of the study.
    In <b>Part 2</b> we will explain to you how you can use the money earned in Part 1.
    In <b>Part 3</b>, you will watch a video, possibly some TV advertisement, which may induce some emotions.
    You will make use of the money in this part. The study concludes with a final short survey in <b>Part 4</b>.   </p>

 <br>
    <p>In this research we will collect some demographic data. Besides your Prolific ID, you will not be asked to provide any personally identifying information.
    Your information and responses will only be used for the purpose of this study and the data will be
    treated as highly confidential. By participating in this study,
    you consent to the data being used for this purpose. </p>

<label for="prolific_id">Please enter your Prolific ID:</label>
<input required type="text" style="max-width:400px" class="form-control" id="prolific_id" name="prolific_id" autocomplete="off">
<br>

<p>Your participation in this research is entirely voluntary, and you have the right to
    withdraw consent at any time by closing your browser. Remember that if you do not complete the study, you will not earn anything.</p>

     <label for="consent">Please select if you consent: </label>
    <input required type="checkbox"   id="consent" name="consent" autocomplete="off">
  <br>
 <br>


    <p>If you have questions, you can contact the researcher</a>. Press "Next" to continue. </p>


</div>
</div>
      <br>
<div class="center">{% next_button %}</div>
{% endblock %}



