{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{{block styles }}
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
{{ endblock }}

{{ block title }}Question 1{{ endblock }}

{{ block content }}

 <div class="card">
     <div class="card-body">

         <p>Empathy means that you feel what a person is feeling. For example, that you see someone suffering, and you also feel their pain or that you see someone happy, and you also feel their happiness.</p>

         <p>With the video that you just saw in mind, please state how much you relate with the following statement:</p>

        <div class=“parent”> <div style="text-align:center">{{ formfields }}</div>
            <div class=“child”><div style="position:absolute;left: 50px;bottom: 10px">I do not relate at all.</div> </div>
            <div class=“child”><div style="position:absolute;right: 60px;bottom: 10px">I completely relate.</div> </div>
        </div>
     </div>
 </div>

    {{ next_button }}

{{ endblock }}
