{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load otree%}

{% block title %}
   Assessment 2
{% endblock %}


{% block content %}
   <div class="card">

      <div class="card-body">



          <p>Now, we will ask you three more questions on how the video made you feel. </p>

          <p>It is important that you provide an answer of how the video <b>actually</b> made you feel and not how you think you should feel or how you would like to feel. </p>
<p>Remember that this is anonymous.</p>

  </div></div>

<br>
      {% next_button %}

{% endblock %}




