{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load otree%}

{% block title %}

{% endblock %}


{% block content %}
   <div class="card">
      <div class="card-body"><p> In what follows we will ask you three more questions. It is important that
          provide an answer of how the video <b>actually</b> makes you feel and not how you think you should feel or how you would like to feel.
          Remember that this is anonymous.
  </div></div>

<br>
      {% next_button %}

{% endblock %}




