{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load otree%}
{{block styles }}
<style>
.center {
  text-align: center;
}
</style>
{{ endblock }}

{% block title %}
   Video Description
{% endblock %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="card">
  <div class="card-body">
     <p> Before showing you the video, we would like to briefly describe what you will see.</p>
     <p> Please read the video description and the script carefully. </p>


 <p>  DESC </p>


<br>
   <p>
       <em> SCRIPT </em>
    </p>

Once you have read the video description and script, please, press "Next".

      </div></div>
<br>
<div class="center"> {{ next_button }}</div>

{% endblock %}


