{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load otree%}
{{block styles }}
<style>
.center {
  text-align: center;
}
</style>
{{ endblock }}

{% block title %}
   Video Description
{% endblock %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="card">
  <div class="card-body">
     <p> Before showing you the video, we would like to briefly describe what you will see.</p>
     <p> Please read carefully the video description below. </p>


 <p>  <em> The video that you will see will depicts the struggles of little girl in a city where war explodes.</em></p>


<br>


Please, press "Next" when you finish reading the description.

      </div></div>
<br>
<div class="center"> {{ next_button }}</div>

{% endblock %}


