{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
   Task 1
{% endblock %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="card">
  <div class="card-body">
     <p>    In this first task we will show you a video and then ask you some questions about it.</p>
     <p>    First, we will provide a description of what you will see in the video. </p>


This is a video provided by UNICEF, the United Nations Children's Fund,
    which is an agency of the United Nations responsible for providing humanitarian
    and developmental aid to children worldwide.
    In this video, the spectator can see different children in poverty situation around the world as the narrator talks:


     <blockquote>
   <em> Look closely, really closely deep into the eyes of a child
    see the hope and ours too whoever she is, wherever he lives
    every child deserves a childhood that's why UNICEF is there for each and every child walking day in, day out
    in 190 countries and territories reaching the hardest to reach
    the furthest from help.
    It's why we stay to the end and never give up.
    Will you stand with us?
    Stand with us stand with us for every child. </em>
    </blockquote>


       <p>    The video will provide no new narrative information apart from the provided script.</p>
      </div></div>


{% next_button %}

{% endblock %}


