{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}

<div class="card"><div class="card-body">
<p>Welcome! You are participating in a study funded by the University of Amsterdam.</p>
<p>The goal of this study is to assess how people emotionally experience audiovisual information.
    You receive <b>&pound</b>  as a payment for participation.
    Further, you can earn extra money as a bonus.
    Your bonus depends on your decisions.

</p><p>


</p>




    <p>Remember that if you do not complete the study, you will not earn anything.
        If you have questions, you can contact the researcher</a>.
        Press "Next" to continue. </p>

</div></div>

<br>
    {% next_button %}
{% endblock %}



