{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{{block styles }}
<style>
.center {
  text-align: center;
}
</style>
{{ endblock }}


    {% block scripts %}

{% endblock %}

{% block title %}

{% endblock %}


{% block content %}

    <div class="card">
        <div class="card-body">
            {{form.donationq.label}}
            {{form.donationq}}
            <br>
            <br>
            {{form.donationqother.label}}
            {{form.donationqother}}
<br>
     <table>
    <tr>

        <th>
        </th>
    </tr>
<tr>
    <br>
            {{form.charityq.label}}
    <br>
    <br>

    {{ for choice in form.charityq }}

    {{ choice }}&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    {{ endfor }}
    <br/>
            Not at all &nbsp &nbsp &nbsp Only a little &nbsp &nbsp To some extent &nbsp &nbsp Rather much &nbsp &nbsp &nbsp &nbsp Very much

</tr>

             </table>
          </div>
    </div>
<br>
<br>
<div class="center"> {{ next_button }}</div>

{% endblock %}

