{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{{block styles }}
<link href="{% static 'heatmap.css' %}" rel="stylesheet">

{{ endblock }}




{% block title %}
Part 3: Choice survey
{% endblock %}


{% block content %}

    <div class="card">
        <div class="card-body">
            {{form.donationq.label}}
            {{form.donationq}}
            <br>
            <br>
            {{form.donationqother.label}}
            {{form.donationqother}}
<br>
     <table>
    <tr>

        <th>
        </th>
    </tr>
<tr>
    <br>
            {{form.charityq.label}}
    <br>

    {{ for choice in form.charityq }}

    {{ choice }}&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    {{ endfor }}
    <br>
            Not at all &nbsp &nbsp &nbsp Only a little &nbsp &nbsp To some extent &nbsp &nbsp Rather much &nbsp &nbsp &nbsp &nbsp Very much

</tr>
             </table>
    <br>
    <br>
            <div type="hidden" class="slidecontainer">
  <input type="hidden" id="myRange1" type="range" min="1" max="100" value="50" >
</div>

	<p> {{form.pressure_donate.label}}</p>

<label class="heat-slider heat-slider--v">
	<span class="heat-slider--input">
		<input id = "d" type="range" value="22" min="0" max="100" oninput="doThings1(event)" />
	</span>
</label>
            <output id="output1">change the slider</output>
            <input  type="hidden" name="pressure_donate" id="pressure_donate">




            <br>
             <br>
             <br>

            <div type="hidden" class="slidecontainer">
  <input type="hidden" id="myRange2" type="range" min="1" max="100" value="50" >
</div>

	<p> {{form.temptation_donate.label}}</p>

<label class="heat-slider heat-slider--v">
	<span class="heat-slider--input">
		<input id = "d" type="range" value="22" min="0" max="100" oninput="doThings2(event)" />
	</span>
</label>
            <output  id="output2">change the slider</output>
            <input type="hidden" name="temptation_donate" id="temptation_donate">

<br>
            {{form.random_q.label}}
            {{form.random_q}}
            <br>
            <br>
            {{form.random_openq.label}}
            {{form.random_openq}}
<br>

<br>
                      </div>
    </div>
<div class="center" onclick="submitForm()"> {{ next_button }}</div>

<script>
    var slider1 = document.getElementById("myRange1");
    var slider2 = document.getElementById("myRange2");

    slider1.oninput = function() {
    document.getElementById("pressure_donate").value = this.value;}
    slider2.oninput = function() {
    document.getElementById("temptation_donate").value = this.value;}

    const output1 = document.getElementById("output1");
    const output2 = document.getElementById("output2");

    const doThings1 = (event) => {
	    const { value, min, max, step, parentElement: parent } = event.target
	    const decimals = step && step.includes('.') ? step.split('.')[1] : 1
	    const percent = `${((value - min)/(max - min) * 100).toFixed(decimals)}%`
	    parent.style.setProperty('--p', percent)
	    output1.value = `Pressure to donate: ${percent}`
        document.getElementById("pressure_donate").value = `${value}`;}

    const doThings2 = (event) => {
	    const { value, min, max, step, parentElement: parent } = event.target
	    const decimals = step && step.includes('.') ? step.split('.')[1] : 1
	    const percent = `${((value - min)/(max - min) * 100).toFixed(decimals)}%`
	    parent.style.setProperty('--p', percent)
        output2.value = `Temptation to donate: ${percent}`
        document.getElementById("temptation_donate").value = `${value}`;
}



function submitForm(){
            if (document.getElementById("pressure_donate").value =="") {
                window.alert("Please answer question 4.");
                                        event.preventDefault();
            }
            if (document.getElementById("temptation_donate").value =="") {
                window.alert("Please answer question 5.");
                  event.preventDefault();
            }
             else  {
            document.getElementById("form").submit();
            }
    }

    </script>


{% endblock %}